.p-cfpform.Flex10 {
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 10px;
margin-left: 20px;
margin-right: 20px;
}
.p-cfpform.Flex11 {
display: flex;
}
.p-cfpform.Flex12 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div1 {
;
}
.p-cfpform.Div2 {
;
}
.p-cfpform.Flex13 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div3 {
;
}
.p-cfpform.Div4 {
;
}
.p-cfpform.Flex14 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div5 {
;
}
.p-cfpform.Div6 {
;
}
.p-cfpform.Flex15 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div8 {
;
}
.p-cfpform.Flex16 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div9 {
;
}
.p-cfpform.Div10 {
;
}
.p-cfpform.TextBox6 {
;
}
.p-cfpform.TextBox7 {
;
}
.p-cfpform.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
}
.p-cfpform.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
}
.p-cfpform.TextBox8 {
;
}
.p-cfpform.TextBox9 {
;
}
.p-cfpform.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 50%;
height: ;
}
.p-cfpform.Button3 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-left: 10px;
}
.p-cfpform.Button4 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-cfpform.Radio12 {
cursor: pointer;
display: inline-flex;
column-gap: 10px;
height: 20px;
}
.p-cfpform.TextBox11 {
;
}
