/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__MkJga {
  border: none;
}
.form-field_formfield__MkJga:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__MkJga:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__gr6NE {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__SU3y5 {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/Carousel/Carousel.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #364d79;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators button {
  margin: 5px;
  border: none;
  width: 30px !important;
  margin-top: -15px !important;
  position: relative;
  z-index: 1;
  height: 1px;
  transition: width 0.3s ease-in;
}

.indicators button.active {
  color: #fff;
  width: 40px !important;
}

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Flex1 {
display: flex;
align-items: stretch;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 2px;
border-width: 2px;
border-style: solid;
align-content: stretch;
color: #ffffff;
background-color: #151515;
}
.p-Home.Flex5 {
display: flex;
}
.p-Home.Flex6 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
margin-top: ;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex7 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 20px;
align-content: stretch;
height: 100%;
}
.p-Home.Flex8 {
display: flex;
}
.p-Home.Link4 {
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
color: #ffffff;
}
.p-Home.Link5 {
margin-top: ;
margin-bottom: ;
padding-top: ;
padding-bottom: ;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Link6 {
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Link7 {
padding-left: 10px;
padding-right: 10px;
}
.p-Home.TextBox3 {
;
}
.p-Home.Button1 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
}
.p-Home.Carousel1 {
;
}
.p-Home.TextBox2 {
width: ;
height: ;
overflow: visible;
box-sizing: content-box;
font-size: 100px;
}

/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/aboutus.css ***!
  \****************************************************************************************************************************************************************************************************/
.p-aboutus.Flex9 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: auto;
width: 100%;
height: 100%;
row-gap: 20px;
}
.p-aboutus.TextBox4 {
;
}
.p-aboutus.TextBox5 {
;
}
.p-aboutus.Button2 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
}

/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/cfpform.css ***!
  \****************************************************************************************************************************************************************************************************/
.p-cfpform.Flex10 {
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 10px;
margin-left: 20px;
margin-right: 20px;
}
.p-cfpform.Flex11 {
display: flex;
}
.p-cfpform.Flex12 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div1 {
;
}
.p-cfpform.Div2 {
;
}
.p-cfpform.Flex13 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div3 {
;
}
.p-cfpform.Div4 {
;
}
.p-cfpform.Flex14 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div5 {
;
}
.p-cfpform.Div6 {
;
}
.p-cfpform.Flex15 {
display: flex;
flex-direction: column;
}
.p-cfpform.Div8 {
;
}
.p-cfpform.Flex16 {
display: flex;
flex-direction: column;
}
.p-cfpform.TextBox6 {
;
}
.p-cfpform.TextBox7 {
;
}
.p-cfpform.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum, "tnum";
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
}
.p-cfpform.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum, "tnum";
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
}
.p-cfpform.TextBox8 {
;
}
.p-cfpform.TextBox9 {
;
}
.p-cfpform.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum, "tnum";
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 50%;
height: ;
}
.p-cfpform.Button3 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
margin-left: 10px;
}
.p-cfpform.Button4 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
        user-select: none;
}
.p-cfpform.Div10 {
;
}

